{% extends 'base.html' %}
{% load static %}

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="doctor">
      <h1>ФИО: {{ doctor.full_name }}</h1>
      <p><strong>Специалист:</strong> {{ doctor.type_dr }}</p> <!-- author detail link not yet defined -->
      <p><strong>Пин-код:</strong> {{ doctor.pin_code }}</p> <!-- author detail link not yet defined -->
      <p><strong>Стаж:</strong> {{ doctor.experience }}</p> <!-- author detail link not yet defined -->
      <p><strong>Номер телефона:</strong> {{ doctor.phone_number }}</p> <!-- author detail link not yet defined -->
      <p><strong>Медсестра:</strong> {{ doctor.nurse }}</p> <!-- author detail link not yet defined -->
      <p><strong>Больница:</strong>  {{ doctor.hospital }}</p>
    </div>
{% endblock %}